.product-image-sliderLoja{
    width: 100%;
    height: auto;
    margin-top: 6rem;
}
.product-image-sliderLoja .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    
}
.product-image-sliderLoja .swiper-slide img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-image-sliderLoja .swiper-slide h3{
    margin-top: 1rem;

}

.product-image-sliderLoja .swiper-button-prev{
    left: 0;
    color: #797979;
    opacity: 0.4;
}
.product-image-sliderLoja .swiper-button-next{
    right: 0;
    color:#797979;
    opacity: 0.4;
}

@media screen and (max-width:600px){
    .product-image-sliderLoja{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .product-image-sliderLoja .swiper-slide{
        height: 400px;
    }
    .product-image-sliderLoja .swiper-slide img{
        width: 100%;
    }
    .product-image-sliderLoja .swiper-button-prev{
        left: 5%;
        color: #797979;
        opacity: 0.4;
    }
    .product-image-sliderLoja .swiper-button-next{
        right:5%;
        color:#797979;
        opacity: 0.4;
    }

}